@import "../../global.scss";

.portfolioList {
    font-size: 24px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;

    &.active {
        background-color: #cf6766;
        color: white;
    }
}