@import "../../global.scss";

.portfolioList {
  font-size: 24px;
  margin: 0 30px 0 30px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;

  &.active {
    background-color: #cf6766;
    color: white;
  }
}
